<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733147415742-mopq28hm7l5es1pbaf68rb585jo8f0tf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733147415742-mopq28hm7l5es1pbaf68rb585jo8f0tf</string>
	<key>API_KEY</key>
	<string>AIzaSyCzREd31v-5V0aITwiJCW6u5wbwz3tngcw</string>
	<key>GCM_SENDER_ID</key>
	<string>733147415742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProjectArtDirect</string>
	<key>PROJECT_ID</key>
	<string>artidirect-305ac</string>
	<key>STORAGE_BUCKET</key>
	<string>artidirect-305ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733147415742:ios:53d63a38e651bc69870aef</string>
</dict>
</plist>